// Place all the styles related to the tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.title{
    color: red;
    font-size: xx-large;
    font-family:"MS Pゴシック";
}

.command{
    padding: 1rem 2rem;
  border: 6px double #000;
}

.titleA{
    padding: 1rem 2rem;
  border: 3px dotted #000;
}